* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter;
}
body {
    background-image: url(../images/Illustrationbackground\ 1.png), url(../images/UnionblackThing.svg);
    background-repeat: no-repeat;
    background-position: top right, 0 1428.96px;
    background-size: 69% auto, auto;
}
/* NAVBAR Styles */
.navDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 36px;
}
.navDiv > div {
    display: inline-flex;
    gap: 100px;
    align-items: center;
}
.navDiv > div div {
    display: inline-flex;
    gap: 30px;
    align-items: center;
}
.navDiv button , .introductionDiv button{
    border-radius: 52px;
    background: #FFF;
    width: 147px;
    height: 48px;
    flex-shrink: 0;
    color: #191B21;
    text-align: center;
    font-family: "Azo Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
    text-transform: uppercase;
    border: none;
}
.navDiv button:hover , .introductionDiv button:hover{
    background-color: #191B21;
    color: #FFF;
    transition: 0.5s;
}
a {
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
}
/* MAIN Contenst Styles*/
.introductionDiv {
    width: 1170px;
    margin: 205px auto 0px auto;
}
#blueParagraph{
    color: #2278D4;
    font-size: 18px;
    font-weight: 500;
    line-height: 54px;
    margin-bottom: 5px;
}
h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    width: 553px;
}
#greyParagraph {
    margin-top: 30px;
    width: 35%;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 40px;
}
.introductionDiv button {
    color: #FFF;
    background-color: #22A75D;
}
.introductionDiv button:hover {
    color: #22A75D;
    background-color: #FFF;
}
.creatorHolderDiv{
    display: flex;
    margin: 290px auto 0 auto;
    color: #191B21;
    gap: 20px;
    justify-content: space-around;
    padding: 0 173px;
}
.creatorHolderDiv div{
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    border-radius: 25px;
    
}

.creatorHolderDiv p {
    opacity: 0.6;
    font-size: 16px;
    margin: 0 auto;
    width: 70%;
    height: 730px;
}

h2 {
    margin-top: 134px;
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    margin-bottom: 30px;
}
.creatorHeading, .holderHeading {
    color: #22A75D;
    text-decoration-line: underline;
}
.holderHeading {
    color: #2278D4;
}
.creator {
    background-image: url(../images/colorcreatorBoy.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgba(242, 240, 244, 0.95);
}
.holder {
    background-image: url(../images/holderBoy.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgba(242, 240, 244, 0.95);
}
.differenceBox {
    color: #F7F5F9;
    display: inline-flex;
    margin: 157px auto 0px 12%;
    gap: 78px;
}
h3 {
    width: 370%;
    color: #F7F5F9;
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    
}
.differenceBox p {
    width: 70%;
}
.differenceBox > * {
    align-self: flex-start;
}
.scrollDiv {
    display: inline-block;
    height: 220px;
    overflow-y: scroll;
}
.firstLineP {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}
.scrolableP {
    font-weight: 300;
    font-size: 16px;
}
.offeringLists {
    margin-top: 325px;
    padding-top: 230px;
    display: flex;
    justify-content: space-around;
    background-image: url(../images/image\ 66.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.listedP {
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    opacity: 0.7;
}
.listedNumber {
    color: #2278D4;
    font-weight: 700;
    font-size: 12px;
    opacity: 1;
}